---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import dayjs from "dayjs";

const projects = [
  {
    link: "https://github.com/DanielleMaywood/fyp-gleam",
    name: "Gleam Wasm",
    desc: "WebAssembly target for Gleam",
  },
  {
    link: "https://github.com/DanielleMaywood/glexer",
    name: "Glexer",
    desc: "Lexer for Gleam, written in Gleam",
  },
];

const posts = await getCollection("posts");
const published = posts.filter((post) => post.data.date !== undefined);
---

<BaseLayout>
  <figure class="flow">
    <blockquote>
      Everyone knows that debugging is twice as hard as writing a program in the
      first place. So if you're as clever as you can be when you write it, how
      will you ever debug it?
    </blockquote>
    <figcaption>
      Brian Kernighan, <cite>The Elements of Programming Style</cite>
    </figcaption>
  </figure>

  <figure class="flow">
    <figcaption>
      <h2>My projects</h2>
    </figcaption>

    <ul class="flow">
      {
        projects.map((project) => (
          <li class="card repel" style="--gutter: var(--space-2xs)">
            <p>
              <a href={project.link}>{project.name}</a>
            </p>
            <p>
              <em>{project.desc}</em>
            </p>
          </li>
        ))
      }
    </ul>
  </figure>

  {
    published.length ? (
      <figure class="flow">
        <figcaption>
          <h2>My posts</h2>
        </figcaption>

        <ul class="flow">
          {published.map((post) => (
            <li class="card" style="--gutter: var(--space-2xs)">
              <p>
                <span class="monospace">
                  {dayjs(post.data.date).format("YYYY/MM/DD")}
                </span>
                <a href={`/posts/${post.id}`}>{post.data.title}</a>
              </p>
            </li>
          ))}
        </ul>
      </figure>
    ) : undefined
  }
</BaseLayout>
