---
import { Icon } from "astro-icon/components";
import BaseLayout from "../layouts/BaseLayout.astro";

const hardware = [
  {
    icon: "apple",
    name: "iPhone 12",
    desc: "Personal phone",
  },
  {
    icon: "apple",
    name: `14" M3 MacBook Pro`,
    desc: "Personal laptop",
  },
  {
    icon: "apple",
    name: `14" M3 MacBook Pro`,
    desc: "Work laptop",
  },
  {
    icon: "raspberrypi",
    name: "Raspberry Pi 5",
    desc: "Home server",
  },
  {
    icon: "elgato",
    name: "Elgato Wave Neo",
    desc: "Microphone",
  },
  {
    icon: "audiotechnica",
    name: "Audio-Technica ATH-M40x",
    desc: "Headphones",
  },
];

const software = [
  {
    icon: "apple",
    name: "Apple's Mail.app",
    desc: "Mail client",
  },
  {
    icon: "github",
    name: "Ghostty",
    desc: "Terminal emulator",
  },
  {
    icon: "zedindustries",
    name: "Zed",
    desc: "Code editor",
  },
  {
    icon: "1password",
    name: "1Password",
    desc: "Password manager",
  },
];

const cloud = [
  {
    icon: "cloudflare",
    name: "Cloudflare",
    desc: "Static site hosting",
  },
  {
    icon: "porkbun",
    name: "Porkbun",
    desc: "Domain registrar",
  },
  {
    icon: "migadu",
    name: "Migadu",
    desc: "Mail server",
  },
];
---

<BaseLayout title="Uses">
  <h2>What I use...</h2>

  <h3>Hardware</h3>

  {
    hardware.map((item) => (
      <div class="card repel">
        <p class="cluster" style="--gutter: var(--space-2xs)">
          <Icon name={item.icon} data-card-icon />
          <strong>{item.name}</strong>
        </p>
        <p>{item.desc}</p>
      </div>
    ))
  }

  <h3>Software</h3>

  {
    software.map((item) => (
      <div class="card repel">
        <p class="cluster" style="--gutter: var(--space-2xs)">
          <Icon name={item.icon} data-card-icon />
          <strong>{item.name}</strong>
        </p>
        <p>{item.desc}</p>
      </div>
    ))
  }

  <h3>Cloud</h3>

  {
    cloud.map((item) => (
      <div class="card repel">
        <p class="cluster" style="--gutter: var(--space-2xs)">
          <Icon name={item.icon} data-card-icon />
          <strong>{item.name}</strong>
        </p>
        <p>{item.desc}</p>
      </div>
    ))
  }
</BaseLayout>
