---
import Header from "@components/Header.astro";

import "@fontsource-variable/space-grotesk";
import "@fontsource/ia-writer-mono";

interface Props {
  title?: string;
  subtitle?: string;
}

const { title, subtitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:title" content={title} />
    <slot name="head">
      <meta property="og:type" content="website" />
    </slot>
    <title>{title}</title>
  </head>
  <body class="container mx-auto bg-neo-pink/75 text-lg text-black">
    <Header />

    <main class="px-4 py-4">
      {
        (title || subtitle) && (
          <section class="bg-neo-blue box selection:bg-neo-pink">
            {title && <h1 class="text-4xl font-bold">{title}</h1>}
            {subtitle && <h2 class="mt-2 italic">{subtitle}</h2>}
          </section>
        )
      }

      <slot />
    </main>
  </body>
</html>
